@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.btn-warning{
  margin:5%;
  width: 30%;
}
#nav-logo{
  width: 75px;
}
.nav-link-color {
  color: white;
}
#navmargin-left: 10px;
  margin-right: 10px;
}
