@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-warning{
  margin: 30px;
width: 30%;
}

.btn-info{
  margin: 30px;
  width: 30%;
}

.form-control{
  margin-bottom: 8%;
}

#nav-logo{
  width: 75px;
}
.nav-link-color {
  color: white;
}
#navbar-logout-button {
  margin-left: 10px;
  margin-right: 10px;
}

#form-container{
  margin-top:10%;
  padding-left: 15%;
  padding-right: 15%;
}

.create-order-form-label{
  float: left
}

//ORDER ITEM PAGE


//REVENUE PAGE
#rev-header{
  margin-top: 20%;
  margin: 2%;
  font-size:3rem;
  font-weight: 500;
}

#total-revenue{
  font-size:3rem;
  font-weight: 500;
}

#total-tips{
  margin: 4%
}
